@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    font-family: 'Cinzel', serif;
    color: #222222;
}

.spinner_container{
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}