@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.navbar-light .navbar-nav .nav-link{
    font-family: 'Cinzel', serif;
    color: #222222;
    padding-bottom:2vh;
}

.navbar-light .navbar-nav .nav-link:hover{
    border-bottom: 3px solid #222222 ;
}

.bg-light {
    background-color: white!important;
}

img{
    height: 15vh;
    width: 10vw;
}

.cart_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#222222;
}

.navbar-light .navbar-toggler {
    color: #222222;
    border: none;
}

.custom-button{
    border: 1px solid #222222;
    color: #222222;
}

.custom-button:hover{
    border: 1px solid #222222;
    background-color: #222222;
    color: white;
}

.form-control{
    border: 1px solid #222222;
}

.form-control:focus{
    border: 2px solid #222222;
    box-shadow: none;
}

@media screen and (max-width: 667px){
    
    .navbar-nav .nav-link {
        width:100vw;
        height:20vh;
        padding-top:5vh;
        border-bottom:none;
        }

    .flex-column {
        flex-direction: row-reverse!important;
        transition: all 0.5s ease-out; 
    }
    
    .ml-auto{
        margin-left: 0vw!important;
    }
    
    .navbar-brand {
        position: relative;
        float: left;
        }
}

